.wrapper {
    width: 500px;
    height: 500px;
    background-color: rgba(189, 226, 240, 0.436);
    margin: 100px auto;
    padding: 90px 100px 30px 100px;

    .submit-button{
        display: block;
        margin: 0 auto;
    }
}